<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../styles/normalize.css" type="text/css">
    <link rel="stylesheet" href="../styles/customize.css" type="text/css">
    <%- include ("./includes/resources.ejs") %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Powershell Testing</title>
</head>
<body>
    <%- include ('./includes/navbar.ejs') %>
    <main>
        <div id="loading-state" class="text-center mt-5">
            <div class="spinner-grow spinner-xl" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <br>
            <p id="loading-text-display" class="text-secondary">
                Loading...
            </p>
        </div>
        <div id="main-content" class="container mt-4 mb-4 d-none">
            <h3>
                Welcome, <%= user.username %>
            </h3>
            <div class="card text-center justify-content-center">
                <div class="card-body">
                    <div class="card-title">
                        You don't have any apps yet
                    </div>
                    <small class="text-secondary">
                        Every app that you create will display here.
                    </small>
                    <div class="d-block mt-3">
                        <a href="/new-app" class="btn btn-primary border">
                            Create new app
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript">
    (function() {
        "use strict";
        $(document).ready(function() {
            console.log(document.readyState);
            const loading = $('#loading-state'),
            main = $('#main-content'),
            text = $('#loading-text-display'),
            completed = setInterval(function() {
                if (document.readyState === "complete") {
                    console.info("Finished Loading");
                    clearInterval(completed);
                    setTimeout(function() { 
                        loading.remove();
                        main.bootstrapShow();
                    }, Math.random() * 2.5E3);
                }
            }, 10);
        });
    })();
    </script>
</body>
</html>
