<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../styles/normalize.css" type="text/css">
    <link rel="stylesheet" href="../styles/customize.css" type="text/css">
    <%- include ("./includes/resources.ejs")%>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New App</title>
</head>
<body>
    <%- include ("./includes/navbar.ejs") %>
    <div class="container mt-4 mb-4">
        <h5 class="text-center">
            Create new app
        </h5>
        <hr>
        <form id="new-app-form" action="" class="shadow-sm needs-validation" autocomplete="off" novalidate="novalidate">
            <div class="mb-4">
                <label for="app-name" class="form-label semi-bold">
                    App Name
                </label>
                <input type="text" id="app-name" class="form-control" placeholder="app-name" required aria-required="true">
            </div>
            <div class="mb-4">
                <label for="region" class="form-label semi-bold">
                    Region
                </label>
                <select id="region" class="form-select">
                    <option value="United States" selected="selected">
                        United States
                    </option>
                    <option value="Europe">
                        Europe
                    </option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary" disabled>
                Create app
            </button>
        </form>
        <script type="text/javascript">
        (function() {
            const appName = $('#app-name'),
            region = $('#region'),
            submitBtn = $('form > button[type="submit"]');

            const forms = document.querySelectorAll("form.needs-validation");

            Array.prototype.slice.call(forms).forEach(form => {
                form.addEventListener("submit", async event => {
                    event.preventDefault();
                    form.classList.add("was-validated");
                    window.loadingSymbol.prependTo(submitBtn);
                    const hasLoadingSymbol = submitBtn.find("div#loading");
                    submitBtn.addDisableAttr();
                    if (!form.checkValidity()) {
                        event.stopPropagation();
                        hasLoadingSymbol.remove();
                        submitBtn.removeDisableAttr();
                        return;
                    }
                    const request = new Request("/new-app", {
                        method: "POST",
                        headers: new Headers({
                            "Content-Type": "application/json",
                            "Accept": "application/json",  
                        }),
                        body: {
                            appName: appName,
                            region: region,
                        },
                    });
                    const response = await fetch(request);
                    const body = await response.json();
                    if (!response.ok) {
                        hasLoadingSymbol.remove();
                        throw new Error("Failed to create new app:" + body.message);
                    }
                    hasLoadingSymbol.remove();
                });
            });
        })();
        </script>
    </div>
</body>
</html>
