<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../styles/normalize.css" type="text/css">
    <link rel="stylesheet" href="../styles/customize.css" type="text/css">
    <%- include ("./includes/resources.ejs") %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verified</title>
</head>
<body>
    <div class="container mt-5 mb-5">
        <div class="card shadow">
            <div class="card-body">
                <div class="text-center mb-2">
                    <span class="fas fa-check-circle fa-5x" aria-hidden="true"></span>
                </div>
                <h5 class="card-title text-center mb-0">
                    Email Verified!
                </h5>
                <small class="card-text d-block mb-4">
                    Thank your for choosing this website.
                </small>
                <p class="card-text">
                    Your email has been verified.
                </p>
            </div>
            <div class="card-footer">
                <div class="d-grid gap-2">
                    <a href="/" class="btn btn-primary">
                        Take Me Home
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
