<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">Node Authentication Starter</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/FilterAsync/my-node-auth-starter">
                    Source code
                </a>
            </li>
        </ul>
        <span class="navbar-text" aria-hidden="true">
            By FilterAsync
        </span>
    </div>
</nav>
