/node_modules
/.vscode
/tests
/tests/test2
npm-debug.log
yarn-error.log
/vendor/
_Chutzpah*
test.*
*.rest
*.http
*.env
*.exe
*.bin
*.obj
*.dll
*.a
*.lib
*.so
*.dylib
*.dub
*.app
*.user
*.useroscache
*.suo
*.rsuser
*.sln.docstates
*.userprefs
._*
*.iobj
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.tlog
*.vspscc
*.vssscc
*.builds
*.pidb
*.svclog
*.scc
*.cab
*.msi
*.msix
*.msm
*.msp
*.epub
*.mobi
*.pdf
