<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../public/styles/normalize.css" type="text/css" />
    <link rel="stylesheet" href="../public/styles/style.css" type="text/css" />
    <%- include ("./includes/resources.ejs") %>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
    <title>Email Verification Step</title>
</head>
<body>
    <div class="container mt-5 mb-5">
        <div class="card shadow">
            <div class="card-body">
                <div class="text-center"> 
                    <span class="fas fa-envelope fa-5x" aria-hidden="true"></span>
                </div>
                <h5 class="card-title text-center">
                    Verify your email to finish signing up
                </h5>
                <div class="d-block mb-4">
                    <small class="card-text text-secondary">
                        Thank your for signing up.
                    </small>
                </div>
                <hr />
                <div class="text-secondary card-text">
                    <div class="d-block mb-4">
                        Everything is ready, just one more step!
                    </div>
                    We've sent a verification email to <strong class="semi-bold"><%= user.visibleEmail %></strong>.
                    Clicking the confirmation link in that email lets us know the email address is both valid and yours.
                    The link in the email will expire in 12 hours. 
                    <hr class="my-4" />
                    Did not receive?
                    <button id="resend-btn" class="btn btn-link p-0 w-auto h-auto d-inline m-0">
                        Resend
                    </button>
                    <div id="resend-alert" class="alert alert-danger mt-4 d-none"></div>
                </div>
                <script type="text/javascript" src="../public/js/email-resend.js" defer="defer"></script>
            </div>
        </div>
    </div>
</body>
</html>
