<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../public/styles/normalize.css" type="text/css" />
    <link rel="stylesheet" href="../public/styles/style.css" type="text/css" />
    <%- include ("./includes/resources.ejs") %>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
    <script type="text/javascript" src="../public/js/password-reset.js" defer="defer"></script>
    <title>Password Reset</title>
</head>
<body>
    <div class="container mt-5 mb-5">
        <div class="card shadow">
            <div class="card-body">
                <h4 class="card-title text-center">
                    <span class="fas fa-undo" aria-hidden="true"></span>
                    Password Reset
                </h4>
                <hr class="my-4" />
                <form id="password-reset-form" class="needs-validation" novalidate="novalidate">
                    <div id="password-reset-alert" class="alert alert-danger d-none"></div>
                    <div class="mb-4">
                        <label for="username" class="semi-bold text-capitalize mb-2">
                            Username
                        </label>
                        <input type="text" id="username" name="username" autocomplete="username" value="<%= user.username %>/<%= user.visibleEmail %>" class="form-control" readonly="readonly" aria-readonly="true" disabled="disabled" aria-disabled="true" required="required" aria-required="true">
                    </div>
                    <div class="mb-4">
                        <label for="new-password" class="semi-bold auto-capitalize mb-2">
                            New password
                        </label>
                        <input type="password" id="new-password" name="repeat-new-password" autocomplete="new-password" type="password" class="form-control" placeholder="New Password..." minlength="8" required="required" aria-required="true">
                        <div class="invalid-feedback">
                            Password must be at least 8 characters.
                        </div>
                        <div class="alert alert-warning mt-4">
                            <p class="text-warning mb-0">
                                <strong class="semi-bold">
                                    Warning!
                                </strong>
                                Do not use the old password.
                            </p>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label for="repeat-new-password" class="semi-bold auto-capitalize mb-2">
                            Confirm new password
                        </label>
                        <input type="password" id="repeat-new-password" name="repeat-new-password" autocomplete="new-password" type="password" class="form-control" placeholder="Confirm Password..." minlength="8" required aria-required="true">
                    </div>
                    <div class="d-grid gap-1">
                        <button id="submit-btn" type="submit" class="btn btn-primary btn-lg" disabled="disabled" aria-disabled="true">
                            Reset Password
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <%- include ("./includes/bottom-navbar.ejs") %>
</body>
</html>
