<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../public/styles/customize.css" type="text/css" />
    <link rel="stylesheet" href="../public/styles/normalize.css" type="text/css" />
    <%- include ("./includes/resources.ejs") %>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
    <title>Reset Password</title>
</head>
<body>
    <div class="container mt-5 mb-5">
        <div class="card shadow">
            <form id="reset-password-form" class="needs-validation" novalidate="novalidate">
                <div class="card-body">
                    <div id="reset-password-alert" class="alert alert-danger d-none"></div>
                    <h4 class="card-title text-center mb-4">
                        Forgot Password
                    </h4>
                    <div class="alert alert-warning">
                        <strong class="semi-bold">
                            <span class="fas fa-exclamation-circle" aria-hidden="true"></span>
                            Warning!
                        </strong>
                        <br />
                        If you did not give us a <strong class="semi-bold">real email address</strong>
                        when you created your account, we cannot send you email.
                    </div>
                    <div class="form-floating mb-4">
                        <input type="email" class="form-control" id="email" aria-label="Email address" title="Email address" placeholder="Email address"
                        pattern='^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,4}))$'>
                        <label for="email">
                            Email address
                        </label>
                        <div class="invalid-feedback">
                            Email does not match.
                        </div>
                    </div>
                    <div class="d-grid gap-2">
                        <button id="submit-btn" type="submit" class="btn btn-primary" disabled aria-disabled="true">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript">
    (function() {
        "use strict";
        const submitBtn = $("#submit-btn"),
        alert = $("#reset-password-alert"),
        email = $("#email");
        email.on("input", function() {
            const regex = new RegExp($(this).attr("pattern"), "g");
            if (!regex.test($(this).val())) {
                $(this).showValidate();
                submitBtn.addDisableAttr();
                return;
            }
            submitBtn.removeDisableAttr();
            $(this).hideValidate();
        });
        const forms = document.querySelectorAll(".needs-validation");
        Array.prototype.slice.call(forms).forEach(form => {
            form.addEventListener("submit", async event => {
                event.preventDefault();
                event.stopPropagation();
                submitBtn.addDisableAttr();
                const request = new Request("/reset-password", {
                    method: "POST",
                    headers: new Headers({
                        "Content-Type": "application/json",
                        "Accept": "application/json",
                    }),
                    body: JSON.stringify({
                        email: email.val(),
                    }),
                });
                const response = await fetch(request);
                const body = await response.json();
                submitBtn.removeDisableAttr();
                if (!response.ok) {
                    alert.attr("class", "alert alert-danger");
                    alert.html(`
                    <strong class="semi-bold">
                        <span class="fas fa-exclamation-circle" aria-hidden="true"></span>
                        Error!
                    </strong>
                    <p>
                        Sorry we cannot send an email to ${email.val()}.
                    </p>
                    `);
                    throw new Error(body.message || "Failed to reset password.");
                }
                alert.attr("class", "alert alert-success");
                alert.html(`
                <strong class="semi-bold">
                    <span class="fas fa-check-circle" aria-hidden="true"></span>
                    Success!
                </strong>
                <p>We've sent an email to <strong class="semi-bold">${email.val()}</strong>.</p>
                `);
            });
        });
    })();
    </script>
</body>
</html>
