@charset "UTF-8";

body.fixed-nav {
  padding-top: 5rem;
}

body {
  padding-bottom: 5rem;
}

strong.semi-bold,
b.semi-bold,
th.semi-bold,
label.semi-bold,
span.badge.semi-bold {
  font-weight: 500 !important;
}

p.allow-multi-line {
  white-space: pre-line !important;
}

hr {
  border-top: 1px solid hsla(230, 15%, 80%, 0.8) !important;
}

label.auto-capitalize {
  text-transform: capitalize !important;
}

textarea {
  resize: vertical;
}

a.disabled {
  color: hsla(0, 0%, 80%, 0.9);
  pointer-events: none;
}

span.huge-char {
  font-size: 2rem;
  font-weight: 600;
}

div.spinner-grow.spinner-xl,
div.spinner-border.spinner-xl {
  width: 4rem !important;
  height: 4rem !important;
}
