@charset "UTF-8";

body.fixed-nav {
  padding-top: 5rem;
}

strong.semi-bold,
b.semi-bold,
th.semi-bold,
label.semi-bold,
span.badge.semi-bold {
    font-weight: 500 !important;
}

hr {
    border-top: 1px solid hsl(230, 15%, 65%) !important;
}

label.auto-capitalize {
    text-transform: capitalize !important;
}

textarea {
    resize: vertical;
}

*.text-secondary > a.disabled {
    color: hsla(0, 0%, 80%, .92);
    pointer-events: none;
}

div.spinner-grow.spinner-xl,
div.spinner-border.spinner-xl {
    width: 4rem !important;
    height: 4rem !important;
}
