<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../includes/resources.ejs") %>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Internal Server Error</title>
</head>
<body>
    <div class="container mt-5 mb-5 text-center">
    <h1 style="font-size: 20rem">500</h1>
        <p class="lead">
            Oops! An error occurred around here.
            <br />
            If you are the developer please consult the log.
        </p>
    </div>
    <%- include ("../includes/bottom-navbar.ejs") %>
</body>
</html>
